{% extends 'base.html' %}
{% block title %}Edit Feedback{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h1>{{self.title()}}</h1>
    <form method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}

            {% for field in form
  if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field(class_='form-control') }}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
        <a href={{url_for('show_secret', username=username)}} class="btn btn-info">Back</a>
        <button type="submit" class="btn btn-primary">Edit</button>

    </form>
</div>
{%  endblock %}